body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

h1{
    font-size: 40px;
}

input{
    padding: 2px;
    margin: 5px;
}

legend{
    padding: 2px;
}

fieldset{
    margin: 10px auto 10px auto;
    width: 20%;
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
    background-color: rgb(231, 231, 231);
    padding: 3px;
    border: 1px solid black;
    border-radius: 0.2em;
    margin: 5px;
    margin-top: 0;
}

div{
    margin: auto;
}


